{{#content "title"}}    
<title>Home</title>
{{/content}}
<div class="card">
    <div class="cardHeader">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ex amet obcaecati, itaque qui optio possimus aut praesentium aspernatur quidem veniam laborum. Enim facere obcaecati aliquid in eos minus et?</h2>
    </div>
    <div class="cardBody">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ex amet obcaecati, itaque qui optio possimus aut praesentium aspernatur quidem veniam laborum. Enim facere obcaecati aliquid in eos minus et?</p>
    </div>
    <div class="cardFooter">
        <ul>
            <li>
                <button><i class="far fa-comment-alt"></i></button>
            </li>
            <li>
                <button><i class="fas fa-ellipsis-h"></i></button>
            </li>
        </ul>
    </div>
</div>

<a class="button newPostButton" href="/newPost"><i class="fas fa-plus"></i></a>
