<div class="card">
    <div class="cardHeader">
        <h2>Welcome to the Chip'per. Hogsmeade's most popular muggle applied science magazine.</h2>
    </div>
    <div class="cardBody">
        <p>Butterbeer has reached its lowest lows today with the recent crash on the stock market since the recent robbery of Gringotts. I know it can't be possible. The goblins are not happy.</p>
    </div>
</div>