
<form class="card loginForm">
    <div>
        <label class="label" for="username">
            E-mail
        </label>
        <input class="input" id="email" type="text">
    </div>

    <div>
        <label class="label" for="password">
            Password
        </label>
        <input class="input" id="password" type="password">
    </div>

    <div class="loginFormFooter">
        <button class="button primaryButton" type="submit">Sign In</button>
    </div>
</form>

{{#content "scripts"}}
<script src="/js/login.js"></script>
{{/content}}