<div class="card newPostCards">
    <input class="input header2" type="text" id="postTitle" placeholder="Title">
    <textarea class="textarea" name="postBody" id="postBody" placeholder="Body" contenteditable></textarea>

    <div class="cardFooter" style="padding-top: 20;">
        <button class="button secondary" onclick="addPost()">Post</button>
    </div>
</div>

<script src="./js/addPost.js"></script>