<div class="card userPageCards">
    <h3 class="header3">Name</h3>
    <p>Teoman Aydogan</p>
    <h3 class="header3">Email</h3>
    <p>test@test.com</p>
</div>

<div class="card userPageCards">
    <a class="header3" href="#">My Posts</a>
</div>